/**
 * @name air
 * @author air to cold
 * @version 1
 * @description Highly customizable theme for BetterDiscord
 * @invite air#003
 * @website soon
*/

@import url('https://clearvision.gitlab.io/v6/main.css');

:root {
  --main-color: #0077ff;
  --hover-color: #0076ff;
  --success-color: #00ff8b;
  --danger-color: #ff0000;
  --url-color: #00ff29;
  --background-image: url('https://i.imgur.com/bfgc5wQ.jpeg');
  --background-shading: 31%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: scroll;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 118%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/4LwuO1z.gif');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: scroll;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 1px;
  --user-modal-image: url('https://i.ibb.co/t30HX4j/ezgif-com-gif-maker.gif');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: scroll;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 2px;
  --home-icon: url('https://i.ibb.co/5hMbQT7/ezgif-com-gif-maker-3.gif');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #00ff0f;
  --channel-color: rgba(255,255,255,1);
  --muted-color: rgba(248,0,0,1);
  --online-color: #00ff54;
  --idle-color: #ff9f00;
  --dnd-color: #ff0000;
  --streaming-color: #5e00ff;
  --offline-color: #808080;
  --main-font: 'Whitney';
  --code-font: 'Consolas';
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --channels-width: 220px;
  --members-width: 240px;
}